
<%- include('../partials/header') %>

<main class="main" id="allSpeciesMain">
    <div class="container">
        <div class="row row-cols-2 row-cols-md-4">
            <% data.forEach(item => { %>
                <div class="col">
                    <div class="card h-100 species-card">
                        <div class="card-body">
                            <h2 class="card-title">
                                <%= item.species %>
                            </h2>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-text">Click <a href="/species/<%= item.species %>" class="card-footer-link">here</a> to see heroes of this species!</p>
                        </footer>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>
